<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korigin.tobe.ias.mapper.CodeMapper">

    <select id="selectCodeListByGrpCode" parameterType="string" resultType="com.korigin.tobe.ias.dto.CodeDTO">
        SELECT
            GRP_CODE AS grpCode,
            CODE_VALUE AS codeValue,
            CODE_NAME AS codeName,
            CODE_DESC AS codeDesc,
            SORT_ORDER AS sortOrder,
            USE_YN AS useYn
        FROM
            IAS_CODE
        WHERE
            GRP_CODE = #{grpCode} AND USE_YN = 'Y'
        ORDER BY
            SORT_ORDER ASC, CODE_VALUE ASC
    </select>

</mapper>