@charset "utf-8";

/*****************************************************************
 * filename			:	reset.css
 * description		:	CSS
 * date				:	2015. 9. 04
******************************************************************/

* {padding:0;margin:0;text-decoration:none;border:0 none;font-style:normal;font-weight:inherit;color:#444;list-style-type:none; font-family:'맑은고딕', 'Malgun Gothic','돋움', 'Dotum', sans-serif; letter-spacing:-1px;}
html, body {width:100%; height:100%; padding:0; margin:0}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,a,button,select{margin:0; padding:0; font-style:normal;}
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block; }
audio,canvas,video {display: inline-block;}
caption,legend,.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:-999em;width:0;height:0;font-size:0;line-height:0;text-align:left}
caption {font-size:0px;color:#6a6c6b;line-height:0;position:static}
table {border-spacing:0;border-collapse:collapse;}
em, address{font-style:normal;}
ul, ol, li{list-style-type:none;}
html, body {letter-spacing:-0.5px; width:100%;  line-height:normal; font-size:13px; color:#444; font-family:'맑은고딕', 'Malgun Gothic','돋움', 'Dotum', sans-serif; }
img, fieldset {border:none}
img {vertical-align:middle} 
a:link, a:visited, a:hover, a:active {text-decoration:none; outline:none;}
hr, legend {position:absolute; top:0; left:-9999px; visibility:hidden; overflow:hidden; width:1px; height:1px; margin:0; padding:0; line-height:1px}
input.radio, input.checkbox, input[type="radio"], input[type="checkbox"] {width:14px; height:14px; vertical-align:text-bottom} 
label {padding:0; position: relative; top: 0px}
input[type="checkbox"] { padding:0; border:none; }
input[type="radio"] { padding:0; border:none; }
button, input { line-height: normal;}
.clearfix {clear: both}
button { background:none; }

input, select { color: #666; }
input { border:1px solid #999; padding:3px 5px; background:#fff; }
select { border:1px solid #999; background:#fff; }
textarea { border:1px solid #999; padding:2px 5px; background:#fff; }

/******************************************************************************************** Padding Style ********************************************************************************************/
.p_0{padding:0px ! important;}			.p_t0{padding-top:0px ! important;}				.p_l0{padding-left:0px ! important;}				.p_r0{padding-right:0px ! important;}				.p_b0{padding-bottom:0px ! important;}   
.p_5{padding:5px ! important;}			.p_t5{padding-top:5px ! important;}				.p_l5{padding-left:5px ! important;}   			.p_r5{padding-right:5px ! important;}   			.p_b5{padding-bottom:5px ! important;}   
.p_10{padding:10px ! important;}			.p_t10{padding-top:10px ! important;}			.p_l10{padding-left:10px ! important;}			.p_r10{padding-right:10px ! important;}			.p_b10{padding-bottom:10px ! important;}
.p_15{padding:15px ! important;}			.p_t15{padding-top:15px ! important;}			.p_l15{padding-left:15px ! important;}			.p_r15{padding-right:15px ! important;}			.p_b15{padding-bottom:15px ! important;}
.p_20{padding:20px ! important;}			.p_t20{padding-top:20px ! important;}			.p_l20{padding-left:20px ! important;}			.p_r20{padding-right:20px ! important;}			.p_b20{padding-bottom:20px ! important;}
.p_25{padding:25px ! important;}			.p_t25{padding-top:25px ! important;}			.p_l25{padding-left:25px ! important;}			.p_r25{padding-right:25px ! important;}			.p_b25{padding-bottom:25px ! important;}
.p_30{padding:30px ! important;}			.p_t30{padding-top:30px ! important;}			.p_l30{padding-left:30px ! important;}			.p_r30{padding-right:30px ! important;}			.p_b30{padding-bottom:30px ! important;}
.p_35{padding:35px ! important;}			.p_t35{padding-top:35px ! important;}			.p_l35{padding-left:35px ! important;}			.p_r35{padding-right:35px ! important;}			.p_b35{padding-bottom:35px ! important;}
.p_40{padding:40px ! important;}			.p_t40{padding-top:40px ! important;}			.p_l40{padding-left:40px ! important;}			.p_r40{padding-right:40px ! important;}			.p_b40{padding-bottom:40px ! important;}
.p_45{padding:45px ! important;}			.p_t45{padding-top:45px ! important;}			.p_l45{padding-left:45px ! important;}			.p_r45{padding-right:45px ! important;}			.p_b45{padding-bottom:45px ! important;}
.p_50{padding:50px ! important;}			.p_t50{padding-top:50px ! important;}			.p_l50{padding-left:50px ! important;}			.p_r50{padding-right:50px ! important;}			.p_b50{padding-bottom:50px ! important;}
.p_60{padding:60px ! important;}			.p_t60{padding-top:60px ! important;}			.p_l60{padding-left:60px ! important;}			.p_r60{padding-right:60px ! important;}			.p_b60{padding-bottom:60px ! important;}
.p_70{padding:70px ! important;}			.p_t70{padding-top:70px ! important;}			.p_l70{padding-left:70px ! important;}			.p_r70{padding-right:70px ! important;}			.p_b70{padding-bottom:70px ! important;}
.p_80{padding:80px ! important;}			.p_t80{padding-top:80px ! important;}			.p_l80{padding-left:80px ! important;}			.p_r80{padding-right:80px ! important;}			.p_b80{padding-bottom:80px ! important;}
.p_90{padding:90px ! important;}			.p_t90{padding-top:90px ! important;}			.p_l90{padding-left:90px ! important;}			.p_r90{padding-right:90px ! important;}			.p_b90{padding-bottom:90px ! important;}
.p_100{padding:100px ! important;}		.p_t100{padding-top:100px ! important;}		.p_l100{padding-left:100px ! important;}		.p_r100{padding-right:100px ! important;}		.p_b100{padding-bottom:100px ! important;}
.p_110{padding:110px ! important;}		.p_t110{padding-top:110px ! important;}		.p_l110{padding-left:110px ! important;}		.p_r110{padding-right:110px ! important;}		.p_b110{padding-bottom:110px ! important;}

/******************************************************************************************** Margin Style ********************************************************************************************/
.m_t0{margin-top:0px ! important;}		.m_r0{margin-right:0px ! important;}			.m_l0{margin-left:0px ! important;}				.m_b0{margin-bottom:0px ! important;}			.m0{margin:0px ! important;}	
.m_t5{margin-top:5px ! important;}		.m_r5{margin-right:5px ! important;}      		.m_l5{margin-left:5px ! important;}      		.m_b5{margin-bottom:5px ! important;}			.m5{margin:5px ! important;}	
.m_t10{margin-top:10px ! important;}		.m_r10{margin-right:10px ! important;}   		.m_l10{margin-left:10px ! important;}   		.m_b10{margin-bottom:10px ! important;}   	.m10{margin:10px ! important;}
.m_t15{margin-top:15px ! important;}		.m_r15{margin-right:15px ! important;}   		.m_l15{margin-left:15px ! important;}   		.m_b15{margin-bottom:15px ! important;}   	.m15{margin:15px ! important;}
.m_t20{margin-top:20px ! important;}		.m_r20{margin-right:20px ! important;}   		.m_l20{margin-left:20px ! important;}   		.m_b20{margin-bottom:20px ! important;}   	.m20{margin:20px ! important;}
.m_t25{margin-top:25px ! important;}		.m_r25{margin-right:25px ! important;}   		.m_l25{margin-left:25px ! important;}   		.m_b25{margin-bottom:25px ! important;}   	.m25{margin:25px ! important;}
.m_t30{margin-top:30px ! important;}		.m_r30{margin-right:30px ! important;}   		.m_l30{margin-left:30px ! important;}   		.m_b30{margin-bottom:30px ! important;}   	.m30{margin:30px ! important;}
.m_t35{margin-top:35px ! important;}		.m_r35{margin-right:35px ! important;}   		.m_l35{margin-left:35px ! important;}   		.m_b35{margin-bottom:35px ! important;}   	.m35{margin:35px ! important;}
.m_t38{margin-top:38px ! important;}		.m_r35{margin-right:35px ! important;}   		.m_l35{margin-left:35px ! important;}   		.m_b35{margin-bottom:35px ! important;}   	.m35{margin:35px ! important;}
.m_t40{margin-top:40px ! important;}		.m_r40{margin-right:40px ! important;}   		.m_l40{margin-left:40px ! important;}   		.m_b40{margin-bottom:40px ! important;}   	.m40{margin:40px ! important;}
.m_t45{margin-top:45px ! important;}		.m_r45{margin-right:45px ! important;}   		.m_l45{margin-left:45px ! important;}   		.m_b45{margin-bottom:45px ! important;}   	.m45{margin:45px ! important;}
.m_t50{margin-top:50px ! important;}		.m_r50{margin-right:50px ! important;}   		.m_l50{margin-left:50px ! important;}   		.m_b50{margin-bottom:50px ! important;}   	.m50{margin:50px ! important;}
.m_t80{margin-top:80px ! important;}														.m_590{margin-left:590px ! important;} 
.m_t17{margin-top:17px ! important;}	    .m_r9{margin-right:9px ! important;}
                                                .m_r11{margin-right:11px ! important;}        
                                                .m_r34{margin-right:34px ! important;}              
.m_t200 {margin-top:200px ! important;}	
.m_t100 {margin-top:100px ! important;}																																																									 
.m5auto {margin:5px auto 0 !important}
.m_t8 {margin-top:8px ! important;}	


.-m_t5{margin-top:-5px ! important;}			.-m_r5{margin-right:-5px ! important;}   		.-m_l5{margin-left:-5px ! important;}   		.-m_b5{margin-bottom:-5px ! important;}   
.-m_t10{margin-top:-10px ! important;}		.-m_r10{margin-right:-10px ! important;}		.-m_l10{margin-left:-10px ! important;}		.-m_b10{margin-bottom:-10px ! important;}
.-m_t15{margin-top:-15px ! important;}		.-m_r15{margin-right:-15px ! important;}		.-m_l15{margin-left:-15px ! important;}		.-m_b15{margin-bottom:-15px ! important;}
.-m_t20{margin-top:-20px ! important;}		.-m_r20{margin-right:-20px ! important;}		.-m_l20{margin-left:-20px ! important;}		.-m_b20{margin-bottom:-20px ! important;}
.-m_t25{margin-top:-25px ! important;}		.-m_r25{margin-right:-25px ! important;}		.-m_l25{margin-left:-25px ! important;}		.-m_b25{margin-bottom:-25px ! important;}
.-m_t30{margin-top:-30px ! important;}		.-m_r30{margin-right:-30px ! important;}		.-m_l30{margin-left:-30px ! important;}		.-m_b30{margin-bottom:-30px ! important;}
.-m_t35{margin-top:-35px ! important;}		.-m_r35{margin-right:-35px ! important;}		.-m_l35{margin-left:-35px ! important;}		.-m_b35{margin-bottom:-35px ! important;}
.-m_t40{margin-top:-40px ! important;}		.-m_r40{margin-right:-40px ! important;}		.-m_l40{margin-left:-40px ! important;}		.-m_b40{margin-bottom:-40px ! important;}
.-m_t45{margin-top:-45px ! important;}		.-m_r45{margin-right:-45px ! important;}		.-m_l45{margin-left:-45px ! important;}		.-m_b45{margin-bottom:-45px ! important;}
.-m_t50{margin-top:-50px ! important;}		.-m_r50{margin-right:-50px ! important;}		.-m_l50{margin-left:-50px ! important;}		.-m_b50{margin-bottom:-50px ! important;}


/************ Float Style **********/		/************* Vertical Align Style ***********/			/************ Display Style ***********/			/************** Position Style *************/			/************ Overflow Style ***********/  
.f_left{float:left ! important;}				.v_top{vertical-align:top ! important;}						.d_none{display:none ! important;}				.p_relative{position:relative ! important;}				.o_hidden{overflow:hidden ! important;}                              
.f_right{float:right ! important;}			.v_middle{vertical-align:middle ! important;}				.d_block{display:block ! important;}				.p_absolute{position:absolute ! important;}			.o_visible{overflow:visible ! important;}                               
.f_clear{clear:both ! important;}			.v_bottom{vertical-align:bottom ! important;}			.d_inline{display:inline ! important;}				.p_fixed{position:fixed ! important;}                                                                                                                
																												.d_inline_b{display:inline-block ! important;}                              


/*********************** Text Align Style ***********************/			/************* Text-decoration Style ***************/			/************ Font-weight Style **************/
.t_left{text-align:left ! important;}													.t_none{text-decoration:none ! important;}						 .t_bold{font-weight:bold ! important;}                                              
.t_right{text-align:right ! important;}												.t_underline{text-decoration:underline ! important;}			 .t_normal{font-weight:normal ! important;}                                       
.t_center{text-align:center ! important;}											.t_overline{text-decoration:overline ! important;}                                     
.t_more{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}			.t_through{text-decoration:line-through ! important;}                                


/******* Text-decoration Style *****/			/************** Font Color Style **************/			/************** Border Style ***************/			/************************************ Effect Style ************************************/
.t_s10{font-size:10px ! important;}				.cp_r{color:#f65155 ! important;}/* red */           			.b_none{border:none ! important;}                 		.bg_none{background:none ! important;}                                                                 
.t_s11{font-size:11px ! important;}				.cp_o{color:#f8591a ! important;}/* orange */       		.bt_none{border-top:none ! important;}         		.shadw_none{box-shadow:none ! important;-webkit-box-shadow:none ! important;}  
.t_s12{font-size:12px ! important;}				.cp_b{color:#648ab9 ! important;}/* blue */         		.br_none{border-right:none ! important;}       
.t_s13{font-size:13px ! important;}				.cp_g{color:#197b30 ! important;}/* green */				.bb_none{border-bottom:none ! important;}   
.t_s14{font-size:14px ! important;}				.cp_0{color:#000 ! important;}/* black */						.bl_none{border-left:none ! important;}          
.t_s15{font-size:15px ! important;}				.cp_f{color:#fff ! important;}/* white */
.t_s16{font-size:16px ! important;}				.co_5b { color:#5b5b5b ! important } /* */
.t_s17{font-size:17px ! important;}            .co_bf { color:#bfbfbf  ! important }
.t_s18{font-size:18px ! important;}            .co_rf9 { color:#f94b4b ! important } /* 레드*/
.t_s19{font-size:19px ! important;}            .cp_b42 { color:#426b92 ! important } /* 블루*/
.t_s20{font-size:20px ! important;}            .co_b4b{ color:#4b617e ! important }
.t_s21{font-size:21px ! important;}            .co_b648 {color:#648ab9 ! important }
                                               .cp_325 {color:#325f89 ! important }
											   .cp_315 {color:#315F97 ! important } /* 진한 블루 */
.t_s22{font-size:22px ! important;}				/************** Font Color Style **************/
.t_s23{font-size:23px ! important;}				.letter_1{letter-spacing:-1px ! important;}
.t_s24{font-size:24px ! important;}				.letter_2{letter-spacing:-2px ! important;}
.t_s25{font-size:25px ! important;}				.letter_3{letter-spacing:-3px ! important;}
.t_s26{font-size:26px ! important;}				.letter_4{letter-spacing:-4px ! important;}
.t_s27{font-size:27px ! important;}				.letter_5{letter-spacing:-5px ! important;}
.t_s28{font-size:28px ! important;}				.letter_6{letter-spacing:-6px ! important;}
.t_s29{font-size:29px ! important;}				.letter_7{letter-spacing:-7px ! important;}
.t_s30{font-size:30px ! important;}				.letter_8{letter-spacing:-8px ! important;}
.t_s31{font-size:31px ! important;}				.letter_9{letter-spacing:-9px ! important;}
.t_s32{font-size:32px ! important;}				.letter_10{letter-spacing:-10px ! important;}
.t_s33{font-size:33px ! important;}            .letter_0{letter-spacing:0 ! important;}
.t_s34{font-size:34px ! important;}
.t_s35{font-size:35px ! important;}
.t_s36{font-size:36px ! important;}
.t_s37{font-size:37px ! important;}
.t_s38{font-size:38px ! important;}
.t_s39{font-size:39px ! important;}
.t_s40{font-size:40px ! important;}

/******* width Style *****/                      /******* width Style *****/                        /******* height Style *****/  
                                                          .wp20 {width:17% !important}               .hp100 {height:100% !important}
                                                          .wp15 {width:15% !important}               
                                                          .wp25 {width:25% !important}
                                                          .wp30 {width:30% !important}
                                                          .wp31 {width:31% !important}
                                                          .wp40 {width:40% !important}
                                                          .wp44 {width:44% !important}
                                                          .wp45 {width:45% !important}
                                                          .wp50 {width:50% !important}
.w10 {width:10px !important}                   .wp60 {width:60% !important}
.w20 {width:20px !important}                   .wp70 {width:70% !important}
                                               .wp75 {width:75% !important}
.w30 {width:30px !important}                   .wp80 {width:80% !important}
.w40 {width:40px !important}                   .wp90 {width:90% !important}
.w50 {width:50px !important}                   .wp93 {width:93% !important}
.w50 {width:50px !important}                   .wp98 {width:98% !important}
.w55 {width:55px !important}
.w60 {width:60px !important}                   .wp100 {width:100% !important}
.w65 {width:65px !important}                    
.w73 {width:73px !important}                    
.w80 {width:80px !important}                   .wp73 {width:73% !important}
.w90 {width:90px !important}             
.w94 {width:94px !important}
.w100 {width:100px !important}
.w110 {width:110px !important}
.w112 {width:112px !important}
.w120 {width:120px !important}
.w130 {width:130px !important}
.w148 {width:148px !important}
.w150 {width:150px !important}
.w155 {width:155px !important}
.w170 {width:170px !important}
.w192 {width:192px !important}
.w200 {width:200px !important}
.w220 {width:220px !important}
.w230 {width:230px !important}
.w238 {width:238px !important}
.w250 {width:250px !important}
.w260 {width:260px !important}
.w275 {width:275px !important}
.w284 {width:284px !important}
.w300 {width:300px !important}
.w306 {width:306px !important}
.w310 {width:310px !important}
.w320 {width:320px !important}
.w366 {width:366px !important}
.w78 {width:78px !important}
.w65 {width:65px !important}
.w70 {width:70px !important}
.w73 {width:73px !important}
.w75 {width:75px !important}
.w80 {width:80px !important}
.w85 {width:85px !important}
.w95 {width:95px !important}

/******* line-height Style *****/    
.lh60 {line-height:60px !important}   
.lh18 {line-height:18px !important}   
.lh24 {line-height:24px !important} 
.lh40 {line-height:40px !important}
.lh2 { line-height:2 !important}
